<div>
    
    
  
         <hr>
    <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal">Add New Forum</button>
    <h2>All Forums</h2>
 
    <span class="clearfix"></span>
    </hr>
    <hr>
    </hr>
    <table class="table table-striped">
    <thead>
      <tr>
      <th>Question Id</th>
        <th>title</th>
        <th>Desc</th>
        
         <!-- <th>PostedBy</th> -->
        <!--   <th>category</th> -->
          <th>View</th>
          <!-- <th>Delete</th> -->
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="forum in answers">
      <td>{{forum.questionId}}</td>
        <td>{{forum.userId}}</td>
        <td>{{forum.answer}}</td>
       
        <!-- <td>{{forum.usersID}}</td>
         <td>{{forum.category}}</td> -->
         
         
          <!-- <td><button type="button" class="btn btn-primary btn-sm "  data-toggle="modal" data-target="#editforum" ng-click="likeButton(++forum.answerLike)">Like</button></td>
           <td><button type="button" class="btn btn-primary btn-sm "  data-toggle="modal" data-target="#addAns" ng-click="dislikeButton(++forum.answerDislike)">Dislike</button></td> -->
         
         
        <td><button type="button" class="btn btn-primary btn-sm "  data-toggle="modal" data-target="#editforum" ng-click="editForumAnswer(forum)">view</button></td>
           <td><button type="button" class="btn btn-primary btn-sm "  data-toggle="modal" data-target="#addAns" ng-click="editForumAnswer(forum)">Add answer</button></td>
        <!-- <td><button type="button" class="btn btn-danger btn-sm " data-toggle="modal" data-target="#deleteforum" ng-click="editForum(forum)">Delete</button></td> -->
      </tr>
       </tbody>
  </table>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add New Forum</h4>
        </div>
        <div class="modal-body">
         <form class="form-horizontal">
         
         
         
         
         
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="questionTitle">questionTitle</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="questionTitle" ng-model="questionTitle">
    </div>
  </div>
  
  
  
  
  
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="questionDescription">questionDescription:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="questionDescription" placeholder="Enter questionDescription" ng-model="questionDescription">
    </div>
  </div>
  
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-lg" ng-click="addForum()" data-dismiss="modal">Post</button>
    </div>
  </div>
</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
  
  
  
  
  
  
  <!-- Modal -->
  <div class="modal fade" id="editforum" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Forum</h4>
        </div>
        <div class="modal-body">
         <form class="form-horizontal">
         <div class="form-group">
    <label class="control-label col-sm-2" for="questionId">questionId</label>
    <div class="col-sm-10"> 
    {{forumDataToEdit.questionId}}
      <!-- <input type="text" class="form-control" id="forumId" ng-model="forumDataToEdit.forumId"> -->
    </div>
  </div>
  
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="questionTitle">questionTitle:</label>
    <div class="col-sm-10">
    {{forumDataToEdit.questionTitle}}
      <!-- <input type="text" class="form-control" id="title" ng-model="forumDataToEdit.title"> -->
    </div>
    
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="questionDescription">questionDescription:</label>
    <div class="col-sm-10">
    {{forumDataToEdit.questionDescription}}
      <!-- <input type="text" class="form-control" id="title" ng-model="forumDataToEdit.title"> -->
    </div>
  </div>
  
</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- Modal -->
  <div class="modal fade" id="deleteforum" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Forum</h4>
        </div>
        <div class="modal-body">
         <strong >You are about to delete {{forumDataToEdit.questionId}} the forum Are you sure?</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteForum(forumDataToEdit)">Yes</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
      
    </div>
  </div>

    </div>
    

